body {
  margin: 0;
  padding: 0;
  background: rgb(0,4,61);
  background: linear-gradient(180deg, rgba(0,4,61,1) 0%, rgba(0,10,157,1) 35%, rgba(15,30,255,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
   background-repeat: no-repeat;
  background-attachment: fixed;
}



